%body
  .login
    %header.login__header
      = render "./parts/exhibit_header.html.haml"
    %main.login__main
      .login__main__panel
        .login__main__panel__no-acount
          %p アカウントをお持ちでない方はこちら
          %a{href: "#"} 新規会員登録
        .login__form__inner
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.icon-facebook
            %a{href: "#"} Facebookでログイン
          %button#google-login.btn-default.btn-sns.btn-sns-google
            %a{href: "#"} Googleでログイン
        %form{action: "#", method: "POST", novalidate: "novalidate"}
          .login__form__inner
            .form-group 
              %input.login-input-text.input-default{name: "email", placeholder: "メールアドレス", type: "email", value: ""}/
            .form-group
              %input.login-input-text.input-default{name: "password", placeholder: "パスワード", type: "password"}/
            .form-group
              .g-recaptcha.login-captcha{"data-sitekey": "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
                %div{style: "width: 304px; height: 78px;"}
                  %div
                    %iframe{frameborder: "0", height: "78", name: "a-hi5p4zk2v57m", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", scrolling: "no", src: "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=PRkVene3wKrZUWATSylf69ja&size=normal&cb=8q5d6m1b7b05", width: "304"}
                  %textarea#g-recaptcha-response.g-recaptcha-response{name: "g-recaptcha-response", style:"width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
            %button.login-submit.btn-default.btn-red{type: "submit"} ログイン
            %a{href: "#"} パスワードをお忘れの方
      %form#login_form_facebook
      %form#login_form_google
    %footer.login__footer
      = render "./parts/exhibit_footer.html.haml"
