/ Google Tag Manager (noscript)
%noscript
  %iframe{height: "0", src: "＃", style: "display:none;visibility:hidden", width: "0"}
/ End Google Tag Manager (noscript)
.step1-container
  %header.step1-header
    %h1
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg", alt: "frima"
  .first-main
    .first-main__menu
      .first-main__menu__head 新規会員登録
      .first-main__menu__inner
        .first-main__menu__inner__way
          %a.first-main__menu__inner__way__mail{href: step1_signup_index_path}
            %i.icon-mail
            メールアドレスで登録する
          %button.first-main__menu__inner__way__facebook
            %i.icon-facebook
            Facebookで登録する
          %button.first-main__menu__inner__way__google
            Googleで登録する
  = render "exhibit_footer"