/ Google Tag Manager (noscript)
%noscript
  %iframe{height: "0", src: "", style: "display:none;visibility:hidden", width: "0"}
/ End Google Tag Manager (noscript)
.step1-container
  %header.step1-header
    %h1
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg", alt: "frima"
    %nav.step1-header__nav
      %ol.step1-header__nav__ol
        %li.through.step1-header__nav__ol__li
          会員情報
          .progress-status__li
        %li.through.step1-header__nav__ol__li
          電話番号認証
          .progress-status__li
        %li.active.step1-header__nav__ol__li
          お届け先住所入力
          .progress-status__li
        %li
          支払い方法
          .progress-status__li
        %li
          完了
          .progress-status__li
  .n-box
    .n-box__top
      %p 発送元・お届け先住所入力
    .n3-box__bottom
      .n3-box__bottom__form
        %label{for: ""} お名前
        %span.nd-box__bottom__form__span 必須
        %br/
        %input.nd-box__bottom__form__input{placeholder: "例）山田"}/
        %br/
        %input.nd-box__bottom__form__input.second{placeholder: "例）彩"}/
      .n3-box__bottom__form
        %label{for: ""} お名前カナ
        %span.nd-box__bottom__form__span 必須
        %br/
        %input.nd-box__bottom__form__input{placeholder: "例）ヤマダ"}/
        %br/
        %input.nd-box__bottom__form__input.second{placeholder: "例）アヤ"}/
      .n3-box__bottom__form
        %label{for: ""} 郵便番号
        %span.nd-box__bottom__form__span 必須
        %br/
        %input.nd-box__bottom__form__input{placeholder: "例）123-4567"}/
      .n3-box__bottom__form
        %label{for: ""} 都道府県
        %span.nd-box__bottom__form__span 必須
        %br/
        %select
          %option{value: "01"} 北海道
          %option{value: "02"} 青森県
          %option{value: "03"} 秋田県
          %option{value: "04"} 岩手県
          %option{value: "05"} 山形県
          %option{value: "06"} 宮城県
          %option{value: "07"} 福島県
      .n3-box__bottom__form
        %label{for: ""} 市区町村
        %span.nd-box__bottom__form__span 必須
        %br/
        %input.nd-box__bottom__form__input{placeholder: "例）横浜市緑区"}/
      .n3-box__bottom__form
        %label{for: ""} 番地
        %span.nd-box__bottom__form__span 必須
        %br/
        %input.nd-box__bottom__form__input{placeholder: "例）青山1-1-1"}/
      .n3-box__bottom__form
        %label{for: ""} 建物名
        %span.n3-box__bottom__form__any 任意
        %br/
        %input.nd-box__bottom__form__input{placeholder: "例）柳ビル103"}/
      .n3-box__bottom__form
        %label{for: ""} 電話
        %span.n3-box__bottom__form__any 任意
        %br/
        %input.nd-box__bottom__form__input{placeholder: "例）09012345678"}/
      %button.nd-box__bottom__form__link
        %a{href: step4_signup_index_path} 次へ進む
  = render "exhibit_footer"