%h2.l-first-head.registration 会員登録完了
%h2.l-first-head.registration ありがとうございます。会員登録が完了しました。
= form_for @user, url: signup_index_path, method: :post, html: {class: 'fifth-main__box'} do |f|
  = f.submit :done