.user-container{
  background-color: rgb(245, 245, 245);
  .n-header{
    height: 128px;
    text-align: center;
    font-weight: bold;
  }
  .n-box{
    background-color: #fff;
    margin: 0 auto;
    width: 700px;
    &__top{
      height: 97px;
      border-bottom: 1px solid rgb(245, 245, 245);
      p{
        font-size: 22px;
        padding: 32px;
        text-align: center;
        font-weight: bold;
      }
    }
    &__bottom{
      text-align: center;
      height: 440px;
      &__text{
        font-size:20px;
        padding:40px 0;
        p{
          font-size:18px;
          color:#888;
        }
      }
      &__link{
        width: 343px;
        text-align: center;
        margin: 0 auto;
        &__text {
        font-size:14px;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out 0.3s;
        cursor: pointer;
        min-height: 1.5em;
        background: #ea352d;
        border: 1px solid #ea352d;
        text-transform: none;
        color: #fff;
        }
      }
      &__image{
        img{
          margin-top: 50px;
          width: 700px;
          height: 230px;  
        }
      }
    }
  }
}