.breadcrumb {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  border-top: 1px solid #eee;
  background: #fff;
  position: relative;
  line-height: center;
  &__center {
    &__under-box{
      position: relative;
      display: flex;
      width: 980px;
      margin: 0 auto;
      &__first {
        overflow: visible;
        padding: 24px 0;
        white-space: normal;
        display: inline-block;
        line-height: 1.4;
        .breadcrumbs{
          a {
          text-decoration: none;
          color:black;
          font-style: 16px;
          }
          span {
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
  }
}