.breadcrumb {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  &__center {
    &__under-box{
      position: relative;
      border-top: 1px solid #eee;
      display: flex;
      width: 750px;
      margin: 0 auto;
      &__first {
        overflow: visible;
        padding: 8px 0;
        white-space: normal;
        display: inline-block;
        line-height: 1.2;
        margin-bottom: 4px;
        &__link {
          display: flex;
          color: #333;
          text-decoration: none;
          margin-right: 8px;
          &__text {
            margin-right: 4px;
            margin-top: -4px;
          }
          &__relation {
            font-size: 9px;
            color: #888;
          }
        }
        &__current {
          &__text {
            font-family: fantasy;
            font-weight: bold;
          }
        }
      }
    }
  }
}