.footer {
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-weight: 500;
  padding: 20px 20px 10px 20px;
  background: #212121;
  color: #fff;
  border-width: 0;
  &__box {
    width: 1020px;
    display: flex;
    margin: 0 auto;
    margin-top: 18px;
    padding: 0;
    &__1 {
      padding: 0 20px 0 0;
      width: 20%;
      h1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;
      }
      &__link {
        display: block;
        line-height: 1.5em;
        &__f {
          color: white;
          display: flex;
          &__logo {
            margin: 8px;
            font-size: 30px;
          }
        }
      }
    }
    &__2 {
      width: 23%;
      padding: 0 40px 0 0;
      vertical-align: top;
      h2 {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;
      }
      &__link {
        display: block;
        line-height: 1.5em;
      }
    }
    &__3 {
      padding: 0 40px 0 0;
      width: 42%;
      h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;
      }
      &__link1 {
        display: block;
        line-height: 1.5em;
        float: left;
      }
      &__link2 {
        display: block;
        line-height: 1.5em;
      }
    }
    &__4 {
      width: auto;
      h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;
      }
      &__link {
        display: block;
        line-height: 1.5em;
        white-space: nowrap;
      }
    }
  }
  &__bottom {
    align-items: center;
    margin: 30px auto 20px;
    width: 1020px;
    &__logo {
      height: 30px;
      width: 100px;
      display: flex;
      &__box {
        height: 30px;
        width: 100px;
        color: white;
        &__img {
          height: 30px;
          width: 30px;
          margin: 0;
        }
      }
      &__text {
        color: white;
        text-decoration: none;
        margin: 8px;
      }
      &__inc {
        color: white;
        text-decoration: none;
        font-size: 12px;
        display: inline-block;
        text-align: center;
        vertical-align: sub;
        white-space: nowrap;
        margin: 8px 350% 0;
      }
    }
  }
}
a:hover {
  text-decoration:underline;
  }
.link {
  font-size: 12px;
  opacity: .7;
  color: #fff;
  text-decoration: none;
}
li {
  margin: 14px 0 0;
}