.content {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
  &__box {
    height: 100px;
    width: 1020px;
    margin: 0 auto;
    padding-top: 8px;
    &__top {
      display: flex;
      &__left {
        &__mercari {
          -webkit-box-align: center;
          align-items: center;
          height: 40px;
          &__img {
            height: 36px;
            width: 134px;
            margin-right: 45px;
            margin-top: 2px;
          }
        }
      }
      &__right {
        height: 40px;
        &__summary {
          width: 841px;
          display: flex;
          position: relative;
          &__text {
            background-color: rgb(245, 245, 245);
            font-size: 16px;
            height: 40px;
            line-height: 1.4em;
            position: relative;
            width: 100%;
            -webkit-appearance: none;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
            border-radius: 4px;
            outline: none;
            padding: 0px 50px 0px 10px;
            transition: all 0.3s ease-out 0s;
          }
          &__btn {
            background-color: transparent;
            height: 40px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 40px;
            -webkit-appearance: none;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            border-radius: 0px 4px 4px 0px;
            padding: 0px;
            font-size: 16px;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 7px;
      &__left {
        font-family: fantasy;
        &__wrap {
          display: flex;
          #category-top {
            height: 44px;
            position: relative;
            z-index: 3;
            padding: 0px 10px;
            :hover {
              text-decoration: none;
            }
            &__left-box {
              display: flex;
              display: block;
              font-size: 14px;
              font-weight: 600;
              line-height: 36px;
              white-space: nowrap;
              text-decoration: none;
              color: rgb(234, 53, 45);
              :hover {
                color: rgb(58, 104, 204);
              }
              &__pop-up {
                #ex_menu {
                  background-color: #fff;
                  width: 100%;
                  padding: 3px;
                  margin: 0;
                  border: 2px solid #acc;
                  list-style-type: none;
                  display: none;
                }
              }

              &__text {
                color: black;
                font: bold;
              }
            }
          }
          #brand-top {
            height: 44px;
            position: relative;
            z-index: 3;
            padding: 0px 10px;
            :hover {
              color: rgb(58, 104, 204);
              text-decoration: none;
            }
            &__left-box {
              display: block;
              font-size: 14px;
              font-weight: 600;
              line-height: 36px;
              white-space: nowrap;
              text-decoration: none;
              &__img {
                max-width: 100%;
                max-height: 100%;
                color: rgb(234, 53, 45);
                height: 12px;
                margin-right: 4px;
              }
              &__text {
                color: black;
              }
              &__pop-up {
                display: none;
                #ex_menu2 {
                  background-color: #fff;
                  width: 100%;
                  padding: 3px;
                  margin: 0;
                  border: 2px solid #acc;
                  list-style-type: none;
                }
              }
            }
          }
        }
      }
      &__right {
        display: flex;
        position: relative;
        font-family: fantasy;
        #content__box__bottom__right__like {
          height: 44px;
          position: relative;
          padding: 0px 7px 0px 0px;
          :hover {
            color: rgb(58, 104, 204);
            text-decoration: none;
          }
          &__box {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            margin-top: 8px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            text-decoration: none;
            white-space: nowrap;
            &__img {
              max-width: 100%;
              height: auto;
              max-height: 100%;
              color: rgb(204, 204, 204);
              margin-right: 10px;
              width: 19px;
            }
            &__text {
              color: black;
            }
            &__pop-up {
              #ex_menu3 {
                background-color: #fff;
                width: 120px;
                padding: 3px;
                margin: 0;
                border: 2px solid #acc;
                list-style-type: none;
                display: none;
              }
            }
          }
        }
        #content__box__bottom__right__notice {
          height: 44px;
          position: relative;
          padding: 0px 7px 0px 0px;
          :hover {
            color: rgb(58, 104, 204);
            text-decoration: none;
          }
          &__box {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            margin-top: 8px;
            // margin-right: 40px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            text-decoration: none;
            white-space: nowrap;
            &__img {
              max-width: 100%;
              height: auto;
              max-height: 100%;
              color: rgb(204, 204, 204);
              margin-right: 10px;
              width: 19px;
            }
            &__text {
              color: black;
            }
            &__pop-up {
              width: 100%;
              #ex_menu4 {
                background-color: cyan;
                background-color: #fff;
                width: 110px;
                padding: 3px;
                margin: 0;
                border: 2px solid #acc;
                list-style-type: none;
                display: none;

              }
            }
          }
        }
        #content__box__bottom__right__todo {
          height: 44px;
          position: relative;
          padding: 0px 7px;
          margin-top: 7px;
          :hover {
            color: rgb(58, 104, 204);
            text-decoration: none;
          }
          &__box {
            -webkit-box-align: center;
            align-items: center;
            font-size: 14px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            text-decoration: none;
            margin-top: 15px;
            &__img {
              max-width: 100%;
              height: auto;
              max-height: 100%;
              color: rgb(204, 204, 204);
              margin-right: 10px;
              width: 17px;
            }
            &__text {
              color: black;
              white-space: nowrap;
            }
            &__pop-up {
              #ex_menu5 {
                background-color: #fff;
                width: 110px;
                padding: 3px;
                margin: 0;
                border: 2px solid #acc;
                list-style-type: none;
                display: none;
              }
            }
          }
        }
        #content__box__bottom__right__my-page {
          height: 44px;
          position: relative;
          padding: 0px 0px 0px 7px;
          :hover {
            color: rgb(58, 104, 204);
            text-decoration: none;
          }
          &__box {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            margin-top: 2px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            text-decoration: none;
            &__img {
              margin-right: 10px;
              width: 32px;
              border-radius: 50%;
              overflow: hidden;
            }
            &__text {
              color: black;
            }
            &__pop-up {
              #ex_menu6 {
                background-color: #fff;
                width: 100%;
                padding: 3px;
                margin: 0;
                border: 2px solid #acc;
                list-style-type: none;
                display: none;
              }
            }
          }
        }
      }
    }
  }
}