.content {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
  &__box {
    height: 100px;
    width: 1020px;
    margin: 0 auto;
    padding-top: 8px;
    &__bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 7px;
      &__right {
        display: flex;
        position: relative;
        font-family: fantasy;
        &__registration {
          line-height: 40px;
          &__box {
            width: 130px;
            height: 35px;
            background-color: red;
            border-color: red;
            color:white;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
          }
        }
        &__login {
          line-height: 40px;
          padding: 0px 0px 0px 7px;
          &__box {
            width: 100px;
            height: 35px;
            text-decoration: none;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 149, 238);
            font-size: 16px;
            border-color: rgb(0, 149, 238);
            border-radius: 4px;
          }
        }
      }
    }
  }
}