.listing {
  &__footer {
    width: 456px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 0;
    text-align: center;
    nav {
      ul {
        list-style: none;
        li:first-child {
        }
        li {
          font-size: 12px;
          margin: 0 0 0 16px;
          display: inline-block;
          a {
            color: #0099e8;
            text-decoration: none;
          }
        }
      }  
    }
    a {
      display: block;
      color: #333;
      img {
        width: 185px;
        height: 49px;
        vertical-align: middle;
      }
    }
    .listing-footer-logo {
      margin: 40px auto 0;
    }
    p {
      margin: 8px 0 0;
    }
  }
}