.done-box {
  width: 100%;
  text-align: center;
  .done-product {
    &__top {
      font-size: 30px;
      font-family: fantasy;
      color: rgb(226, 30, 200);
      margin-top: 30px;
    }
    &__name {
      margin-top: 30px;
      font-family: fantasy;
      font-size: 30px;
    }
    &__price {
      margin-top: 30px;
      font-family: fantasy;
      font-size: 30px;
      color: blue;
    }
    &__back {
    color: white;
    display: block;
    height: 34px;
    width: 150px;
    margin: auto;
    text-decoration: none;
    font-size: 26px;
    border-radius: 40px;
    background-color: orangered;
    padding-top: 10px;
    border-bottom: solid 4px black;
     &:hover {
      margin-top: 1px;
      border-bottom: solid 3px black;
     }
     &:active {
      margin-top: 4px;
      border-bottom: none;
     }
    }
  }
}