.body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
}
.first-container {
  padding: 0 0 250px;
  background-color:rgb(245, 245, 245);
  display: block;
}
.first-header {
  text-align: center;
  height: 128px;
  display: block;
  &__box {
    margin: 40px 0 0;
    display: inline-block;
    &__iamge {
      display: inline-block;
      width: 185px;
      height: 49px;
      line-height: 49px;
    }
  }
}
.first-main {
  display: block;
  &__menu {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    line-height: 1.4;
    &__head {
      text-align: center;
      font-size: 22px;
      padding: 32px;
      display: block;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    &__inner {
      padding: 24px 16px 40px;
      display: block;
      &__way {
        max-width: 343px;
        margin: 0 auto;
        &__mail {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          position: relative;
          background: #eee;
          border-radius: 4px;
          color: #fff;
          background-color: #ea352d;
          text-decoration: none;
          }       
        &__facebook {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          position: relative;
          border-radius: 4px;
          margin: 16px 0 0;
          background: #385185;
          color: #fff;
        }
        &__google {
          border-radius: 4px;
          margin: 16px 0 0;
          background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
          border: #979797 solid 1px;
          color: #333;
          position: relative;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}
.icon-mail {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font-size: 16px;
}
.icon-facebook {

}
.first-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  &__menu {
    display: block;
    &__list {
      list-style: none;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
      &__li {
        margin: 0;
        display: inline-block;
        font-size: 12px;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
.second-main__box {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
}
.third-main__box {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
}
.forth-main__box {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
}
.fifth-main__box {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
}