.l-first-head.registration {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
  font-weight: bold;
}

.first-main__box {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
}
.second-main__box {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
}
.third-main__box {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
}
.forth-main__box {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
}
.fifth-main__box {
  margin: 20px;
  text-align: center;
  line-height: center;
  font-size: 30px;
}
// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/