.user-header {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.a {
  width: 185px;
  height: 49px;
  line-height: 49px;
}
.user-bar signup-bar {
  padding: 40px 0 0 44px;
  border: 0;
  display: inline-block;
  vertical-align: top;
}
