.default-container
  .item-detail
    .item-detail__name
      トートバッグ
    .item-detail__wrap
      .item-detail__wrap__left
        .item-detail__wrap__left__look
          .item-detail__wrap__left__look__slide
            %ul.item-detail__wrap__left__look__slide__box{:style => "left: 0px;"}
              %li.item-detail__wrap__left__look__slide__box__pic{:style => "width: 300px;"}
                %img.item-detail__wrap__left__look__slide__box__pic__img{:alt => "トートバッグ", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m95392593963_1.jpg?1542333814", :src => "https://static.mercdn.net/item/detail/orig/photos/m95392593963_1.jpg?1542333814", :style => "opacity: 1;"}/
              %li.item-detail__wrap__left__look__slide__box__pic{:style => "width: 300px;"}
                %img.item-detail__wrap__left__look__slide__box__pic__img{:alt => "トートバッグ", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m95392593963_2.jpg?1542333814", :src => "https://static.mercdn.net/item/detail/orig/photos/m95392593963_2.jpg?1542333814", :style => "opacity: 1;"}/
              %li.item-detail__wrap__left__look__slide__box__pic{:style => "width: 300px;"}
                %img.item-detail__wrap__left__look__slide__box__pic__img{:alt => "トートバッグ", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m95392593963_3.jpg?1542333814", :src => "https://static.mercdn.net/item/detail/orig/photos/m95392593963_3.jpg?1542333814", :style => "opacity: 1;"}/
          %ul.item-detail__wrap__left__look__dots
            %li.item-detail__wrap__left__look__dots__dot
              %img.item-detail__wrap__left__look__dots__dot__img{:src => "https://static.mercdn.net/item/detail/orig/photos/m95392593963_1.jpg?1542333814"}/
            %li.item-detail__wrap__left__look__dots__dot
              %img.item-detail__wrap__left__look__dots__dot__img{:src => "https://static.mercdn.net/item/detail/orig/photos/m95392593963_2.jpg?1542333814"}/
            %li.item-detail__wrap__left__look__dots__dot
              %img.item-detail__wrap__left__look__dots__dot__img{:src => "https://static.mercdn.net/item/detail/orig/photos/m95392593963_3.jpg?1542333814"}/
      %table.item-detail__wrap__right
        %tbody.item-detail__wrap__right__box
          %tr.item-detail__wrap__right__box__person
            %th.item-detail__wrap__right__box__person__text
              出品者
            %td.item-detail__wrap__right__box__person__profile
              %a.item-detail__wrap__right__box__person__profile__link{:href => "#"}
                ぶー プロフィール読んでね(^^)v
              %div.item-detail__wrap__right__box__person__profile__likes
                .item-detail__wrap__right__box__person__profile__likes__good
                  %i.fas.fa-smile-beam
                  %span.a
                    210
                .item-detail__wrap__right__box__person__profile__likes__normal
                  %i.fas.fa-meh
                  %span.a
                    1
                .item-detail__wrap__right__box__person__profile__likes__bad
                  %i.fas.fa-frown
                  %span.a
                    0
          %tr.item-detail__wrap__right__box__category
            %th.item-detail__wrap__right__box__category__text
              カテゴリー
            %td.item-detail__wrap__right__box__category__link
              %a.item-detail__wrap__right__box__category__link__text{:href => "#"}
                レディース
              %a.item-detail__wrap__right__box__category__link__icon1{:href => "#"}
                .item-detail__wrap__right__box__category__link__icon1__junre
                  %i.fas.fa-chevron-right
                  バッグ
              %a.item-detail__wrap__right__box__category__link__icon2{:href => "#"}
                .item-detail__wrap__right__box__category__link__icon2__junre
                  %i.fas.fa-chevron-right
                  トートバッグ
          %tr.item-detail__wrap__right__box__brand
            %th.item-detail__wrap__right__box__brand__text
              ブランド
            %td.item-detail__wrap__right__box__brand__detail
              シャネル
          %tr.item-detail__wrap__right__box__product
            %th.item-detail__wrap__right__box__product__status
              商品の状態
            %td.item-detail__wrap__right__box__product__text
              新品、未使用
          %tr.item-detail__wrap__right__box__delivery-fee
            %th.item-detail__wrap__right__box__delivery-fee__status
              配送料の負担
            %td.item-detail__wrap__right__box__delivery-fee__text
              送料込み(出品者負担)
          %tr.item-detail__wrap__right__box__delivery-method
            %th.item-detail__wrap__right__box__delivery-method__status
              配送の方法
            %td.item-detail__wrap__right__box__delivery-method__text
              ゆうゆうメルカリ便
          %tr.item-detail__wrap__right__box__delivery-former
            %th.item-detail__wrap__right__box__delivery-former__status
              配送元地域
            %td.item-detail__wrap__right__box__delivery-former__text
              %a.item-detail__wrap__right__box__delivery-former__text__pref{:href => "#"}
                三重県
          %tr.item-detail__wrap__right__box__date
            %th.item-detail__wrap__right__box__date__status
              発送日の目安
            %td.item-detail__wrap__right__box__date__text
              2~3日で発送
    .item-detail__price-box
      %span.item-detail__price-box__text ¥1,200
      %span.item-detail__price-box__tax (税込)
      %span.item-detail__price-box__fee 送料込み
    %section.item-detail__status
      .item-detail__status__item-btn
        %a.item-detail__status__item-btn__link{:href => "#"}
          購入画面に進む
      .item-detail__status__text-box
        %p.item-detail__status__text-box__center
          この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
        %a.item-detail__status__text-box__users-link{:href => "#"}
          アプリで購入
        .item-detail__status__text-box__comment
          %p.item-detail__status__text-box__comment__text
            黒地にネコ？のような刺繍があります
            ポケットも全部で4こあり 1泊旅行にも使えるかと思います
            ショルダーとしても使えるように
            ベルトつきです
            しっかりした作りだと思います
            どなたか使われる方にお譲りします
            大きさは  縦約26㎝   横約40㎝ まち幅約15㎝ほどです
            片側に たたみじわがあります
      .item-detail__status__container
        .item-detail__status__container__left
          %button.item-detail__status__container__left__like{:href => "#"}
            %a.item-detail__status__container__left__like__img{:href => "#"}
              %i.far.fa-heart
            %a.item-detail__status__container__left__like__text{:href => "#"}
              いいね!
            %span.item-detail__status__container__left__like__length{"data-num" => "like"}
              0
          %button.item-detail__status__container__left__report{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
            %a.item-detail__status__container__left__report__link{:href => "#"}
              %i.fas.fa-flag-checkered
              不適切な商品の報告
          %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m95392593963/"}/
          %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m95392593963/"}/
          %input{:name => "__csrf_value", :type => "hidden", :value => "f2fc3194c01727e1774d820b80605ef8d272f3e9aca8df662cad8561a1d4fab5641b8435b68de0e4e276ddee173753e109580cfe5c88577a41540f64d087b4efc"}/
        .item-detail__status__container__right
          %a.item-detail__status__container__right__link{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
            %i.fas.fa-lock
            あんしん・あんぜんへの取り組み
  .item-comment
    .item-comment__container
      .item-comment__container__content
        %form.item-comment__container__content__message-form{:action => "#", :method => "POST"}
          %input{:name => "__csrf_value", :type => "hidden", :value => "f2fc3194c01727e1774d820b80605ef8d272f3e9aca8df662cad8561a1d4fab5641b8435b68de0e4e276ddee173753e109580cfe5c88577a41540f64d087b4efc"}/
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{:name => "item_id", :type => "hidden", :value => "m40714007040"}/
          %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
          %textarea.default{:name => "body", :type => "text", :value => ""}
          %button{:type => "submit"}
            %span
              コメントする
      -# コメント削除機能 現状未実装
      -# %aside.item-comment__container__{"data-close" => "modal", "data-modal" => "delete-comment"}
      -#   .modal-inner.modal-banner
      -#     .modal-body
      -#       .modal-head.bold
      -#         確認
      -#       %div{"data-comment" => "body"}
      -#       %br/
      -#       本当にこのコメントを削除してよろしいですか？
      -#     %form{:action => "https://www.mercari.com/jp/comment/delete/", :method => "POST"}
      -#       .clearfix
      -#         .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
      -#         %button.modal-btn.modal-btn-submit{:type => "submit"}
      -#           削除する
      -#       %input{:name => "item_id", :type => "hidden", :value => "m40714007040"}/
      -#       %input{:name => "comment_id", :type => "hidden", :value => ""}/
      -#       %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
      -#       %input{:name => "__csrf_value", :type => "hidden", :value => "f2fc3194c01727e1774d820b80605ef8d272f3e9aca8df662cad8561a1d4fab5641b8435b68de0e4e276ddee173753e109580cfe5c88577a41540f64d087b4efc"}/
  %ul.relation-category
    %li.relation-category__prev
      %a{:href => "#"}
        %i.fas.fa-chevron-left
        コスメデコルテ ルージュグロウRD453
    %li.relation-category__next
      %a{:href => "#"}
        黒 ワンピース シースルー ブラック フリフリ
        %i.fas.fa-chevron-right
  .social-box
    -# .text-center       コメントが表示される場所？
    -#   .fb-save.fb_iframe_widget{"data-uri" => "product://113299479059860/m40714007040", "fb-iframe-plugin-query" => "app_id=466308336793848&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm40714007040", "fb-xfbml-state" => "rendered"}
    -#     %span{:style => "vertical-align: top; width: 0px; height: 0px; overflow: hidden;"}
    -#       %iframe{:allow => "encrypted-media", :allowfullscreen => "true", :allowtransparency => "true", :frameborder => "0", :height => "1000px", :name => "f378c9ba1f1efb8", :scrolling => "no", :src => "https://www.facebook.com/v2.5/plugins/save.php?app_id=466308336793848&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df22b174bd6e73a4%26domain%3Ditem.mercari.com%26origin%3Dhttps%253A%252F%252Fitem.mercari.com%252Ff7278beff4648%26relation%3Dparent.parent&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm40714007040", :style => "border: none; visibility: visible; width: 0px; height: 0px;", :title => "fb:save Facebook Social Plugin", :width => "1000px"}
    %ul.social-box__media
      %li.face-book
        %a.share-btn{"data-window-name" => "facebook_window", :href => "#", :target => "_blank"}
          %i.fab.fa-facebook-square
      %li.twitter
        %a.share-btn{"data-window-name" => "twitter_window", :href => "#", :target => "_blank"}
          %i.fab.fa-twitter-square
      %li.line
        %a.share-btn{:href => "#", :target => "_blank"}
          %i.fab.fa-line
      %li.pinterest
        %a.share-btn{"data-window-name" => "pinterest_window", :href => "#", :target => "_blank"}
          %i.fab.fa-pinterest-square
  .items-listing
    %section.items-listing__box
      %h2.items-listing__box__person
        %a.link{:href => "#"}
          miyagitさんのその他の出品
      .items-listing__box__detail
        %section.items-listing__box__detail__wrap
          %a.items-listing__box__detail__wrap__content{:href => "#"}
            %figure.product
              %img.product__img{:alt => "リエンダ  スエードコート", "data-src" => "https://static.mercdn.net/thumb/photos/m34304623161_1.jpg?1573190429", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
            .items-listing__box__detail__wrap__content__brand
              %h3.text
                リエンダ  スエードコート
              .items-2p-price
                .items-2p-price__box
                  ¥5,400
                .items-2p-price__likes
                  .items-2p-price__img
                    %i.far.fa-heart
                  %span.a
                    9
        %section.items-listing__box__detail__wrap
          %a.items-listing__box__detail__wrap__content{:href => "#"}
            %figure.product
              %img.product__img{:alt => "リエンダ  スエードコート", "data-src" => "https://static.mercdn.net/thumb/photos/m34304623161_1.jpg?1573190429", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
            .items-listing__box__detail__wrap__content__brand
              %h3.text
                リエンダ  スエードコート
              .items-2p-price
                .items-2p-price__box
                  ¥5,400
                .items-2p-price__likes
                  .items-2p-price__img
                    %i.far.fa-heart
                  %span.a
                    9
        %section.items-listing__box__detail__wrap
          %a.items-listing__box__detail__wrap__content{:href => "#"}
            %figure.product
              %img.product__img{:alt => "リエンダ  スエードコート", "data-src" => "https://static.mercdn.net/thumb/photos/m34304623161_1.jpg?1573190429", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
            .items-listing__box__detail__wrap__content__brand
              %h3.text
                リエンダ  スエードコート
              .items-2p-price
                .items-2p-price__box
                  ¥5,400
                .items-2p-price__likes
                  .items-2p-price__img
                    %i.far.fa-heart
                  %span.a
                    9
        %section.items-listing__box__detail__wrap
          %a.items-listing__box__detail__wrap__content{:href => "#"}
            %figure.product
              %img.product__img{:alt => "リエンダ  スエードコート", "data-src" => "https://static.mercdn.net/thumb/photos/m34304623161_1.jpg?1573190429", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
            .items-listing__box__detail__wrap__content__brand
              %h3.text
                リエンダ  スエードコート
              .items-2p-price
                .items-2p-price__box
                  ¥5,400
                .items-2p-price__likes
                  .items-2p-price__img
                    %i.far.fa-heart
                  %span.a
                    9
        %section.items-listing__box__detail__wrap
          %a.items-listing__box__detail__wrap__content{:href => "#"}
            %figure.product
              %img.product__img{:alt => "リエンダ  スエードコート", "data-src" => "https://static.mercdn.net/thumb/photos/m34304623161_1.jpg?1573190429", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
            .items-listing__box__detail__wrap__content__brand
              %h3.text
                リエンダ  スエードコート
              .items-2p-price
                .items-2p-price__box
                  ¥5,400
                .items-2p-price__likes
                  .items-2p-price__img
                    %i.far.fa-heart
                  %span.a
                    9
        %section.items-listing__box__detail__wrap
          %a.items-listing__box__detail__wrap__content{:href => "#"}
            %figure.product
              %img.product__img{:alt => "リエンダ  スエードコート", "data-src" => "https://static.mercdn.net/thumb/photos/m34304623161_1.jpg?1573190429", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
            .items-listing__box__detail__wrap__content__brand
              %h3.text
                リエンダ  スエードコート
              .items-2p-price
                .items-2p-price__box
                  ¥5,400
                .items-2p-price__likes
                  .items-2p-price__img
                    %i.far.fa-heart
                  %span.a
                    9
  .items-listing
    %section.items-listing__box
      %h2.items-listing__box__person
        %a.link{:href => "#"}
          リエンダのコインケース/小銭入れ その他の商品
  .items-box-content
    .items-listing__box__detail
      %section.items-listing__box__detail__wrap
        %a.items-listing__box__detail__wrap__content{:href => "#"}
          %figure.product
            %img.product__img{:alt => "❤︎リエンダリニューアル限定ノベルティ❤︎", "data-src" => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
          .items-listing__box__detail__wrap__content__brand
            %h3.text
              ❤︎リエンダリニューアル限定ノベルティ❤︎
            .items-2p-price
              .items-2p-price__box
                ¥4,500
              .items-2p-price__likes
                .items-2p-price__img
                  %i.far.fa-heart
                %span.a
                  1
      %section.items-listing__box__detail__wrap
        %a.items-listing__box__detail__wrap__content{:href => "#"}
          %figure.product
            %img.product__img{:alt => "❤︎リエンダリニューアル限定ノベルティ❤︎", "data-src" => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
          .items-listing__box__detail__wrap__content__brand
            %h3.text
              ❤︎リエンダリニューアル限定ノベルティ❤︎
            .items-2p-price
              .items-2p-price__box
                ¥4,500
              .items-2p-price__likes
                .items-2p-price__img
                  %i.far.fa-heart
                %span.a
                  1
      %section.items-listing__box__detail__wrap
        %a.items-listing__box__detail__wrap__content{:href => "#"}
          %figure.product
            %img.product__img{:alt => "❤︎リエンダリニューアル限定ノベルティ❤︎", "data-src" => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
          .items-listing__box__detail__wrap__content__brand
            %h3.text
              ❤︎リエンダリニューアル限定ノベルティ❤︎
            .items-2p-price
              .items-2p-price__box
                ¥4,500
              .items-2p-price__likes
                .items-2p-price__img
                  %i.far.fa-heart
                %span.a
                  1
      %section.items-listing__box__detail__wrap
        %a.items-listing__box__detail__wrap__content{:href => "#"}
          %figure.product
            %img.product__img{:alt => "❤︎リエンダリニューアル限定ノベルティ❤︎", "data-src" => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
          .items-listing__box__detail__wrap__content__brand
            %h3.text
              ❤︎リエンダリニューアル限定ノベルティ❤︎
            .items-2p-price
              .items-2p-price__box
                ¥4,500
              .items-2p-price__likes
                .items-2p-price__img
                  %i.far.fa-heart
                %span.a
                  1
      %section.items-listing__box__detail__wrap
        %a.items-listing__box__detail__wrap__content{:href => "#"}
          %figure.product
            %img.product__img{:alt => "❤︎リエンダリニューアル限定ノベルティ❤︎", "data-src" => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
          .items-listing__box__detail__wrap__content__brand
            %h3.text
              ❤︎リエンダリニューアル限定ノベルティ❤︎
            .items-2p-price
              .items-2p-price__box
                ¥4,500
              .items-2p-price__likes
                .items-2p-price__img
                  %i.far.fa-heart
                %span.a
                  1
      %section.items-listing__box__detail__wrap
        %a.items-listing__box__detail__wrap__content{:href => "#"}
          %figure.product
            %img.product__img{:alt => "❤︎リエンダリニューアル限定ノベルティ❤︎", "data-src" => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742", :src => "https://static.mercdn.net/thumb/photos/m62878154129_1.jpg?1573836742"}/
          .items-listing__box__detail__wrap__content__brand
            %h3.text
              ❤︎リエンダリニューアル限定ノベルティ❤︎
            .items-2p-price
              .items-2p-price__box
                ¥4,500
              .items-2p-price__likes
                .items-2p-price__img
                  %i.far.fa-heart
                %span.a
                  1
  %nav.mercari-brand
    %ul.under-box
      %li.under-box__left-box{:itemscope => "", :itemtype => "#"}
        %a.link{:href => "#", :itemprop => "url"}
          %span.text{:itemprop => "title"}
            メルカリ
          .mercari-brand__relation
            %i.fas.fa-chevron-right
      %li{:itemscope => "", :itemtype => "#"}
        %span.text2{:itemprop => "title"}
          リエンダ

