.banner
  %ul.banner__wrap
    %li.banner__wrap__img1
      .banner__wrap__img1__box
        .banner__wrap__img1__box__wrap
          .banner__wrap__img1__box__wrap__left
            .banner__wrap__img1__box__wrap__left__text
              スマホでかんたんフリマアプリ
            %p.banner__wrap__img1__box__wrap__left__text2
              今すぐ無料ダウンロード！
            .banner__wrap__img1__box__wrap__left__text3
              %a.banner__wrap__img1__box__wrap__left__text3__img1{:href => "#", :rel => "noopener noreferrer", :target => "_blank"}
                %img.content__box__top__left__mercari__img{:alt => "fmarket", :src => "/assets/fmarket_logo_white.svg"}/
              %a.banner__wrap__img1__box__wrap__left__text3__img2{:href => "#", :rel => "noopener noreferrer", :target => "_blank"}
                %img.banner__wrap__img1__box__wrap__left__text3__img1__img{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
                %img.banner__wrap__img1__box__wrap__left__text3__img2__img{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
          .banner__wrap__img1__box__wrap__right
            %img.banner__wrap__img1__box__wrap__right__img{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/
        %img.banner__wrap__img1__box__bg{:alt => "", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIgL89n7wJqTe9rbGdNKKk7-p7CL2gpeN5Nu6dItcgw0OBnTQG3A&s"}/
