.brand
  .brand__choice
    %h1.brand__choice__text 
      人気のブランド
  .brand__types
    %ul.brand__types__wrap
      %li.brand__types__wrap__ladys
        %a.brand__types__wrap__ladys__box
          .brand__types__wrap__ladys__box__text
            シャネル
      %li.brand__types__wrap__mens
        %a.brand__types__wrap__mens__box
          .brand__types__wrap__mens__box__text
            ルイ・ヴィトン
      %li.brand__types__wrap__camera
        %a.brand__types__wrap__camera__box
          .brand__types__wrap__camera__box__text
            シュプリーム
      %li.brand__types__wrap__hobby
        %a.brand__types__wrap__hobby__box
          .brand__types__wrap__hobby__box__text
            ナイキ
