.choice
  .choice__category
    %h1.choice__category__text 
      人気のカテゴリー
  .choice__types
    %ul.choice__types__wrap
      %li.choice__types__wrap__ladys
        %a.choice__types__wrap__ladys__box
          .choice__types__wrap__ladys__box__text
            レディース
      %li.choice__types__wrap__mens
        %a.choice__types__wrap__mens__box
          .choice__types__wrap__mens__box__text
            メンズ
      %li.choice__types__wrap__camera
        %a.choice__types__wrap__camera__box
          .choice__types__wrap__camera__box__text
            家電・スマホ・カメラ
      %li.choice__types__wrap__hobby
        %a.choice__types__wrap__hobby__box
          .choice__types__wrap__hobby__box__text
            おもちゃ・ホビー・グッズ
