.category
  .category__choice
    %h1.category__choice__text 
      人気のカテゴリー
  .category__types
    %ul.category__types__wrap
      %li.category__types__wrap__ladys
        %a.category__types__wrap__ladys__box
          .category__types__wrap__ladys__box__text
            レディース
      %li.category__types__wrap__mens
        %a.category__types__wrap__mens__box
          .category__types__wrap__mens__box__text
            メンズ
      %li.category__types__wrap__camera
        %a.category__types__wrap__camera__box
          .category__types__wrap__camera__box__text
            家電・スマホ・カメラ
      %li.category__types__wrap__hobby
        %a.category__types__wrap__hobby__box
          .category__types__wrap__hobby__box__text
            おもちゃ・ホビー・グッズ
