.footer
  .footer__box
    .footer__box__1
      %h1 メルカリについて
      %ul.footer__box__1__link
        %li.footer__box__1__link__a
          %a.link(href="#")
            会社概要（運営会社）
        %li.footer__box__1__link__b
          %a.link(href="#")
            採用情報
        %li.footer__box__1__link__c
          %a.link(href="#")
            プレスリリース
        %li.footer__box__1__link__d
          %a.link(href="#")
            公式ブログ
        %li.footer__box__1__link__e
          %a.link(href="#")
            メルカリロゴ利用ガイドライン
        %li.footer__box__1__link__f
          %i.fab.fa-facebook-square
        %li.footer__box__1__link__g
          %i.fab.fa-twitter-square
    .footer__box__2
      %h2 ヘルプ&ガイド
      %ul.footer__box__2__link
        %li.footer__box__2__link__a
          %a.link(href="#")
            メルカリガイド
        %li.footer__box__2__link__b
          %a.link(href="#")
            らくらくメルカリ便
        %li.footer__box__2__link__c
          %a.link(href="#")
            ゆうゆうメルカリ便
        %li.footer__box__2__link__d
          %a.link(href="#")
            大型メルカリ便
        %li.footer__box__2__link__e
          %a.link(href="#")
            車体取引ガイド
        %li.footer__box__2__link__f
          %a.link(href="#")
            メルカリあんしん・あんぜん宣言！
        %li.footer__box__2__link__g
          %a.link(href="#")
            偽ブランド品撲滅への取り組み
        %li.footer__box__2__link__h
          %a.link(href="#")
            メルカリボックス
    .footer__box__3
      %h3 プライバシーと利用規約
      %ul.footer__box__3__link1
        %li.footer__box__3__link1__a
          %a.link(href="#")
            プライバシーポリシー
        %li.footer__box__3__link1__b
          %a.link(href="#")
            メルカリ利用規約
        %li.footer__box__3__link1__c
          %a.link(href="#")
            あんしんスマホサポート制度に関する利用特約
        %li.footer__box__3__link1__d
          %a.link(href="#")
            コンプライアンスポリシー
      %ul.footer__box__3__link2
        %li.footer__box__3__link2__a
          %a.link(href="#")
            個人データの安全管理に係る基本方針
        %li.footer__box__3__link2__b
          %a.link(href="#")
            特定商取引に関する表記
        %li.footer__box__3__link2__c
          %a.link(href="#")
            資金決済法に基づく表示
        %li.footer__box__3__link2__d
          %a.link(href="#")
            法令順守と犯罪抑止のために
    .footer__box__4
      %h4 国
      %ul.footer__box__4__link
        %li.footer__box__4__link__a
          %a.link(href="#")
            日本
        %li.footer__box__4__link__b
          %a.link(href="#")
            United States
  .footer__bottom
    .footer__logo
      %a.link(href="#")
      %i.fas.fa-box-open
    .footer__copyright
      %small @Frema,lnc.