.new-brand1
  .new-brand1__junre
    .new-brand1__junre__top{:name => "scroll-1"}
      .new-brand1__junre__top__box
        .new-brand1__junre__top__box__text
          %h1 シャネル新着アイテム
      .new-brand1__junre__top__see-more
        %a.new-brand1__junre__top__see-more__text{:href => "#"}
          もっと見る
        .new-brand1__junre__top__see-more__img{:href => "#"}
          %i.fas.fa-chevron-right
    .new-brand1__junre__lineup
      .new-brand1__junre__lineup__wrap
        %ul.new-brand1__junre__lineup__wrap__box
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
          %li.new-brand1__junre__lineup__wrap__box__addition
            %div.new-brand1__junre__lineup__wrap__box__addition__sammury{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.new-brand1__junre__lineup__wrap__box__addition__sammury__communication{:href => "https://item.mercari.com/jp/m96584682442/"}
              %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                  %img.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img{:alt => "Thumbnail of \"ビューティ&ユース ユナイテッドアローズ  ニット 黒 ブラック\"", :src => "https://static.mercdn.net/thumb/photos/m96584682442_1.jpg?1575792043"}/
                  .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                    %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price{"aria-label" => "Price"}
                      ¥1,000
                %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                  %span ビューティ&amp;ユース ユナイテッドアローズ  ニット 黒 ブラック
