.advertisement
  .advertisement__slide
    %img.advertisement__slide__bg{:alt => "", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu2NyFeaxRx42YXHhBvajDSpEAhoCGFdRtMvFraDTu6Dzj3UA-&s"}/
    .advertisement__slide__topic
      .advertisement__slide__topic__box
        .advertisement__slide__topic__box__text
          スマホで
          かんたん
          %br>/
          フリマアプリ
        %p.advertisement__slide__topic__box__text2
          メルカリはスマホカメラからすぐに出品できる
          %br>/
          購入時も安心な独自システムのアプリです
        .advertisement__slide__topic__box__text3
          %a.advertisement__slide__topic__box__text3__img1{:href => "#", :rel => "noopener noreferrer", :target => "_blank"}
            %img.advertisement__slide__topic__box__text3__img1__img{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
          %a.advertisement__slide__topic__box__text3__img2{:href => "#", :rel => "noopener noreferrer", :target => "_blank"}
            %img.advertisement__slide__topic__box__text3__img2__img{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
      .advertisement__slide__topic__img
        %img.advertisement__slide__topic__img__box{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}/
