.content
  .content__box
    .content__box__top
      .content__box__top__head
        %a.content__box__top__head__mercari{:href => "/jp/"}
          %img.content__box__top__head__mercari__img{:alt => "mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
        .content__box__top__head__ucer-contents
          .content__box__top__head__ucer-contents__left
            %a.content__box__top__head__ucer-contents__left__box{:href => "/jp/mypage/notification/"}
              %svg.content__box__top__head__ucer-contents__left__box__img{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 14 16", :width => "14"}
                %path{:d => "M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z", :fill => "currentColor", "fill-rule" => "nonzero"}
              %figcaption.content__box__top__head__ucer-contents__left__box__alert
                1 
              -# 通知がある場合
          .content__box__top__head__ucer-contents__center
            %a.content__box__top__head__ucer-contents__center__box{:href => "/jp/mypage/todo/"}
              %svg.content__box__top__head__ucer-contents__center__box__img{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
                %path{:d => "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z", :fill => "currentColor", "fill-rule" => "nonzero"}
          .content__box__top__head__ucer-contents__right
            %a.content__box__top__head__ucer-contents__right__box{:href => "/jp/mypage/"}
              %img.content__box__top__head__ucer-contents__right__box__img{:alt => "", :src => "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}/
      .content__box__top__search
        %form.content__box__top__search__summary{:action => "/jp/search/"}
          %input.content__box__top__search__summary__text{:name => "keyword", :placeholder => "何をお探しですか？", :type => "search", :value => ""}/
          %button.content__box__top__search__summary__btn{:type => "submit"}
            %svg.content__box__top__search__summary__btn__img{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
              %path{:d => "M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z", :fill => "currentColor", "fill-rule" => "nonzero"}
      %nav.content__box__top__bottom
        %a.content__box__top__bottom__left{:href => "/jp/category/"}
          %svg.content__box__top__bottom__left__img{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 20 16", :width => "20"}
            %path{:d => "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", :fill => "currentColor", "fill-rule" => "nonzero"}
          %span.content__box__top__bottom__left__text 
            カテゴリーから探す
        %a.content__box__top__bottom__right{:href => "/jp/brand/"}
          %svg.content__box__top__bottom__right__img{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 23 16", :width => "23"}
            %path{:d => "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", :fill => "currentColor", "fill-rule" => "nonzero"}
          %span.content__box__top__bottom__right__text
            ブランドから探す
  .content__middle
    %img.content__middle__img{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images_box-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}/
    .content__middle__string
      .content__middle__string__box
        スマホでかんたん
        = succeed "\u{30d5}\u{30ea}\u{30de}\u{30a2}\u{30d7}\u{30ea}" do
          %br/
      %p.content__middle__string__middle
        メルカリはスマホカメラからすぐに出品できる
        = succeed "\u{8cfc}\u{5165}\u{6642}\u{3082}\u{5b89}\u{5fc3}\u{306a}\u{72ec}\u{81ea}\u{30b7}\u{30b9}\u{30c6}\u{30e0}\u{306e}\u{30a2}\u{30d7}\u{30ea}\u{3067}\u{3059}" do
          %br/
      .content__middle__string__img
        %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :rel => "noopener noreferrer", :target => "_blank"}
          %img.content__middle__string__img__left{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
        %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :rel => "noopener noreferrer", :target => "_blank"}
          %img.content__middle__string__img__right{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
  .content__bottom